<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audiolibrary</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'audiolibrary/style.css' %}" />
</head>
<body>

<div id="top">
    <a id="site-name" href="{% url 'index' %}">Audiolibrary</a>
    <a href="{% url 'all' %}">AUDIOBOOKS</a>
    <a href="{% url 'contact' %}">CONTACT</a>
</div>

<div id="content">
{%block content %}

{%endblock%}
</div>

<div id="bottom">
    <div>
    Visit count: {{ visit_count }}<br>
    Last visit: {{ last_visit }}
    </div>
    <div id="nletter">
        <form action="{% url 'newsletter' %}" method="post">
            {% csrf_token %}
            <label>Subscribe to newsletter:</label><br>
            <input type="email" name="email" id="email-news" required="required">
            <input type="hidden" name="next" value="{{ request.path }}">
            <input id="submit-news" type="submit" value="Send">
        </form>
    </div>
</div>

<script>
    url_string = window.location.href;
    var url = new URL(url_string);
    var c = url.searchParams.get("nl");
    if (c == 1) {
        document.getElementById('nletter').innerHTML = 'Thank you for subscribing to our newsletter!';
        document.getElementById('nletter').style = 'margin-top: 1%;'
    }
</script>

</body>
</html>