{% extends 'audiolibrary/base_layout.html' %}

{%block content %}

<div class="content-block">
<h1>{{ audiobook_category }}</h1>
<ul>
{% for audiobook in audiobook_list %}
    <li>
        <a class="list" href="{% url 'detail' audiobook.id %}">
            <img src="{{ audiobook.thumbnail }}" width="50" height="50" alt="">
            <span>{{ audiobook.name }}</span>
        </a>
    </li>
{% endfor %}
</ul>
</div>

{%endblock%}