{% extends 'audiolibrary/base_layout.html' %}

{%block content %}

<div class="content-block contact">
<h1>Contact form</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'contact_send' %}" method="post">
{% csrf_token %}
    <label>Email</label>
    <input type="email" name="email" id="email" class="cont" required="required">
    <label>Message</label>
    <textarea rows="8" name="message" id="message" class="cont" required="required"></textarea>
    <input id="submit" type="submit" value="Send" class="cont">
</form>
</div>

{%endblock%}