{% extends 'audiolibrary/base_layout.html' %}

{%block content %}

<div class="content-block">
<h1>Contact form</h1>

<h2>Message has been sent.</h2>

<a href="{% url 'index' %}">Return to main page</a>
</div>

{%endblock%}