{% extends 'audiolibrary/base_layout.html' %}

{%block content %}

<div class="content-block">
    <img src="{{ audiobook.thumbnail }}" width="180" height="180" alt="">
    <div id="desc">
        <h1>{{ audiobook.name }}</h1>
        <p>Category: {{ audiobook.category }}</p>
        <p>Author: {{ audiobook.author }}</p>
        <p>Narrated by: {{ audiobook.reader }}</p>
        <p>Publicated: {{ audiobook.pub_date }}</p>
    </div>
    <div id="file">
        <h3>File:</h3>
        <p>Track length: {{ audiobook.length|time:"H:i:s" }}</p>
        <p>File format: {{ audiobook.file_format }}</p>
        <a href="{% url 'download' audiobook.id %}"><b>Download</b></a>
    </div>
</div>

{%endblock%}