{% extends 'audiolibrary/base_layout.html' %}

{%block content %}

<div id="categories" class="side-by-side content-block">
<h2>Categories:</h2>
{% if audiobook_categories_list %}
    <ul>
    {% for audiobook_category in audiobook_categories_list %}
        <li><a href="{% url 'category' audiobook_category.id %}">{{ audiobook_category.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}
</div>

<div id="newest" class="side-by-side content-block">
<h2>Latest audiobooks:</h2>
{% if newest_audiobooks_list %}
    {% for audiobook in newest_audiobooks_list %}
        <span class="side-by-side newest-block">
            <a href="{% url 'detail' audiobook.id %}">
                <img src="{{ audiobook.thumbnail }}" alt=""><br>
                {{ audiobook.name }}
            </a>
        </span>
    {% endfor %}
{% else %}
    <p>No audiobooks are available.</p>
{% endif %}
</div>

{%endblock%}