html {
    font-family: sans-serif;
}

body {
    margin: 0 0 0 0;
    background-color: #EDEFFF;
}

#top {
    background-color: #05386B;
    padding: 0.5% 25% 0.5% 25%;
    color: white;
    box-shadow: 3px 3px 5px grey;
}

#top a {
    margin-left: 4%;
}

#bottom {
    font-size: 75%;
    color: white;
    background: #05386B;
    width: 40%;
    margin: 1% auto;
    padding: 15px;
    box-shadow: 3px 3px 5px grey;
}

#bottom div:nth-child(1) {
    margin: 0 0 0 0;
    display: inline-block;
}

#bottom div:nth-child(2) {
    float: right;
}

#content {
    padding: 1px 27% 0 27%;
    margin-top: 1%;
    color: white;
}

#site-name {
    font-size: 200%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    filter: brightness(90%);
}

#newest {
    margin-left: 2%;
    width: 74%;
}

#categories {
    width: 17%;
}

.side-by-side {
    display: inline-block;
    vertical-align: top;
    height: 370px;
    border-radius: 2px;
}

.side-by-side img {
    width: 100px;
    height: 100px;
}

.newest-block {
    margin-left: 4.5%;
    width: 100px;
    height: 45%;
}

.content-block {
    background-color: #379683;
    padding: 1% 1% 3% 2%;
    box-shadow: 4px 4px 5px grey;
}

.contact {
    width: 30%;
    height: 400px;
    margin: 0 auto;
}

#desc {
    display: inline-block;
    margin-left: 3%;
}

#file {
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 3%;
}

ul {
    list-style-type: none;
    margin-top: -15px;
}

#categories li {
    margin-top: 10%;
}

li a {
    color: white;
    margin-left: -25px;
}

li {
    margin-bottom: 2%;
}

.list img {
    vertical-align: middle;
}

.list span {
    display: inline-block;
    vertical-align: middle;
}

.cont {
    display: block;
    margin-bottom: 3%;
    width: 95%;
}

#submit {
    margin-left: 25%;
    width: 50%;
}